name: Build and Push Docker Image

on:
  push:
    branches: [ "main", "master" ]
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    # 1. 소스 코드 체크아웃
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Docker Buildx 설정 (멀티 플랫폼 빌드 및 캐싱 지원)
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # 3. Docker Hub 로그인
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 4. 빌드 및 푸시
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile
        push: true
        # 태그 설정: latest 태그와 현재 커밋 해시(SHA) 태그 두 개 생성
        tags: |
          suehunpark/outbox-service:latest
          suehunpark/outbox-service:${{ github.sha }}
        # 빌드 캐시 활용 (빌드 속도 향상)
        cache-from: type=gha
        cache-to: type=gha,mode=max
